#a {
    width: 100%;
}

#b {
    width: 100%;
    height: 200px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c {
    background-color: burlywood;
}

#d {
    background-color: cadetblue;
}

#e {
    background-color: aquamarine;
    height: 60px;
    padding: 10px 0;
    line-height: 60px;
}

#f {
    background-color: blueviolet;
}

#g {
    width: 100%;
    height: 300px;
    /* display: flex;
    justify-content: end;
    align-items: end; */
    text-align: end;
    line-height: 584px;
    background-color: blanchedalmond;
}

#h {
    background-color: white;
}